# Ignore SECRETS (Crucial)
terraform.tfvars
*.auto.tfvars

# Terraform specific
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.zip

# Python/Environment specific
__pycache__/
*.pyc
.env
venv/

credentials.json 

# Automatically added by AI to prevent Windows download tracking files
*.Zone.Identifier